#invite {
    float: right;
}

mat-card {
    width: 100%;
}

table {
    width: 100%;
}

.mat-raised-button {
    width: 150px;
}
    
.mat-button-toggle {
    color: black;
    width: 130.75px;
  }
  
  .mat-button-toggle-checked {
    color: black;
    width: 130.75px;
  }
