<mat-card id="main-view" [@slideOutAnimation]='animationState' (@slideOutAnimation.done)='slideOutDone()'>
  <mat-card class="heading-container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="heading">Product Backlog</h1>
      </div>
      <div class="col-md-4">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item id="create-task" (click)="onCreateTask()">Create Task</button>
          <button mat-menu-item id="create-funcreq" (click)="onCreateFuncReq()">Create Functional Requirement</button>
          <button mat-menu-item id="create-sprint" (click)="onCreateSprint()">Create Sprint</button>
          <button mat-menu-item id="view-funcreq" (click)="onViewFuncReq()">View Functional Requirements</button>
          <button mat-menu-item id="view-estimates" (click)="onViewEstimates()">View Time Estimates</button>
        </mat-menu>

        <button id="menuButton" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <button mat-button (click)="onSortNamePressed()">Sort by Name</button>
      <button mat-button (click)="onSortPrioPressed()">Sort by Priority</button>
      <button mat-button (click)="onSortFuncReqPressed()">View by Functional Requirement</button>
      <button mat-button (click)="onSortSprintPressed()">View Sprints</button>
    </div>

  </mat-card>


  <mat-card id="table-container" *ngIf="tasks">
    <table mat-table [dataSource]="tasks" class="mat-elevation-z0">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.id}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.name}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descriptions </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.description}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.priority}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let element">
          <span>{{element.created_at}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status == 0">
            <button mat-button style="background-color: lightcoral; width: 100px;" (click)="onStatusClicked(element.id)">Not
              started</button>
          </div>
          <div *ngIf="element.status == 1">
            <button mat-button style="background-color: yellow; width: 100px;" (click)="onStatusClicked(element.id)">Started</button>
          </div>
          <div *ngIf="element.status == 2">
            <button mat-button style="background-color: lightgreen; width: 100px;" (click)="onStatusClicked(element.id)">Complete</button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td id="actions" mat-cell *matCellDef="let element"> 
          <div class="row">
            <div class="col-md-3">
                <button id="time" (click)="onTimePressed(element.id)"><i class="fa fa-clock-o" aria-hidden="true"></i>
                </button>
            </div>

            <div class="col-md-3">
                <button id="edit" (click)="onModifyPressed(element.id)"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                </button>
            </div>

            <div class="col-md-3">
                <button id="delete" (click)="onDeletePressed(element.id)"><i class="fa fa-minus-square" aria-hidden="true"></i>
                </button>
            </div>
          </div>
          
          
          
          
          
        </td>
    </ng-container>
    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td id="view" mat-cell *matCellDef="let element"> 
        <button id="detail" (click)="onDetailPressed(element.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>


</mat-card>

<mat-card [@slideOutAnimation]='slideInAnimationState' id="sprintContainer">
  <mat-card *ngIf="emptySprints.length == 0 && sprints.length == 0">
    <p>You have no planned sprints.</p>
    <button mat-button (click)="onSortSprintPressed()">View backlog</button>

  </mat-card>

  <mat-card *ngIf="emptySprints.length > 0">
      <h3>Empty Sprints</h3>
      <div *ngFor="let sprint of emptySprints" class="row">
          <div class="col-md-9">
              <p style="margin-top: 5px;"><strong>Sprint Name:</strong> {{sprint.name}}</p>
            </div>
            <div class="col-md-2">
                <button id="manageButton" (click)="onManageSprintPressed(sprint.id)"mat-button>Manage</button>
            </div>
      </div>
     
    </mat-card>

  <mat-card *ngIf="sprints.length != 0" id="sprint-content">

    <div class="row">
        <div class="col-md-10">
            <h1>Sprint Planning</h1>
        </div>
        <div class="col-md-2">
            <button  mat-button (click)="onSortSprintPressed()">View backlog</button>
        </div>
      </div>

    <mat-card id="sprint-tables">
      
        <h3>Planned Sprints</h3>

      <div *ngFor="let sprint of sprints">
        <mat-card class="mat-elevation-z1" style="margin-top: 5px; margin-bottom: 5px;">
          <div class="row">
            <div class="col-md-6">
              <h3 value="test">{{sprint.sprintName}}</h3>
            </div>
            <div class="col-md-6">
              <button mat-button id="manageButton" style="float: right" (click)="onManageSprintPressed(sprint.sprintId)">Manage</button>
              <button style="float:right" mat-button (click)="onDeleteSprintPressed(sprint.sprintId)">Delete</button>

            </div>
          </div>
          <table mat-table [dataSource]="sprint.tasks" class="mat-elevation-z0">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element">
                <span>{{element.id}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Task Name </th>
              <td mat-cell *matCellDef="let element">
                <span>{{element.name}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Task Description </th>
              <td mat-cell *matCellDef="let element">
                <span>{{element.description}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.status == 0">
                  <button mat-button style="background-color: lightcoral; width: 100px;" (click)="onStatusClicked(element.id)">Not
                    started</button>
                </div>
                <div *ngIf="element.status == 1">
                  <button mat-button style="background-color: yellow; width: 100px;" (click)="onStatusClicked(element.id)">Started</button>
                </div>
                <div *ngIf="element.status == 2">
                  <button mat-button style="background-color: lightgreen; width: 100px;" (click)="onStatusClicked(element.id)">Complete</button>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td id="actions" mat-cell *matCellDef="let element">
                  <div class="row">
                      <div class="col-md-3">
                          <button id="time" (click)="onTimePressed(element.id)"><i class="fa fa-clock-o" aria-hidden="true"></i>
                          </button>
                      </div>
          
                      <div class="col-md-3">
                          <button id="edit" (click)="onModifyPressed(element.id)"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                          </button>
                      </div>
          
                      <div class="col-md-3">
                          <button id="detail" (click)="onDetailPressed(element.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
        
                      </div>
                    </div>


              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'status', 'actions']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'description', 'status', 'actions'];"></tr>
          </table>
        </mat-card>
      </div>
    </mat-card>


  </mat-card>
</mat-card>

<mat-card id="funcReqContainer" [@slideOutAnimation]='secondSlideInAnimationState'>
    <mat-card id="sprint-tables">
      <div class="row">
        <div class="col-md-10">
            <h1>Functional Requirements</h1>
        </div>
        <div class="col-md-2">
            <button mat-button id="viewBacklog" (click)="onSortFuncReqPressed()">View backlog</button>
            <button mat-button id="viewBacklog" (click)="onViewFuncReq()">Manage</button>

        </div>
      </div>
        <hr style="width: 100%" />
    <div *ngFor="let funcreq of funcReqs">
      <h3>{{funcreq.name}}</h3>
      <mat-card id="funcreq-tables" style="margin-top: 5px; margin-bottom: 5px;">
        <table mat-table [dataSource]="funcreq.tasks" class="mat-elevation-z0">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element">
              <span>{{element.id}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Task Name </th>
            <td mat-cell *matCellDef="let element">
              <span>{{element.name}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Task Description </th>
            <td mat-cell *matCellDef="let element">
              <span>{{element.description}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 0">
                <button mat-button style="background-color: lightcoral; width: 100px;" (click)="onStatusClicked(element.id)">Not
                  started</button>
              </div>
              <div *ngIf="element.status == 1">
                <button mat-button style="background-color: yellow; width: 100px;" (click)="onStatusClicked(element.id)">Started</button>
              </div>
              <div *ngIf="element.status == 2">
                <button mat-button style="background-color: lightgreen; width: 100px;" (click)="onStatusClicked(element.id)">Complete</button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td id="actions" mat-cell *matCellDef="let element">
                <div class="row">
                    <div class="col-md-3">
                        <button id="time" (click)="onTimePressed(element.id)"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        </button>
                    </div>
        
                    <div class="col-md-3">
                        <button id="edit" (click)="onModifyPressed(element.id)"><i class="fa fa-pencil-square" aria-hidden="true"></i>
                        </button>
                    </div>
        
                    <div class="col-md-3">
                        <button id="detail" (click)="onDetailPressed(element.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
       
                    </div>
                  </div>

            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'status', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'description', 'status', 'actions'];"></tr>
        </table>
      </mat-card>
    </div>
  </mat-card>
</mat-card>