<mat-card>
  <mat-card class="heading-container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="heading">Team Management</h1>
      </div>

      <div class="col-md-4">
        <button mat-button (click)="onCreateTeamClicked()" id="create-team">Create team</button>
        <button mat-button (click)="onInvitesClicked()" id="my-invites">My Invite Box</button>
      </div>
    </div>
  </mat-card>

  <mat-card class="table-container">
    <table mat-table [dataSource]="teams" class="mat-elevation-z0">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> 
            <span>{{element.id}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> 
            <span>{{element.name}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Descriptions </th>
          <td mat-cell *matCellDef="let element"> 
            <span>{{element.description}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef> Created </th>
          <td mat-cell *matCellDef="let element"> 
            <span>{{element.created_at}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button style="background-color: lightcoral" id="element.id" (click)="onDeletePressed(element.id)">Delete</button>
            <button mat-button style="background-color: lightblue" id="element.id" (click)="onModifyPressed(element.id)">Modify</button>
            <button mat-button style="background-color: lightcyan" id="element.id" (click)="onViewPressed(element.id)">View</button>

          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</mat-card>
