  <div style="border-style: solid; border-width: 2px; height: 80%;">
	<h1>My Scrum Board</h1>
		<div class = "task-list" style ="display:inline-block; width: 23.33%;"> 
			<h2> Not Started </h2>
			<ul class = task style = "height:120px;width:300px;border-style:solid;border-width:3px"> 
				<h2>Task name</h2>
				Description:<br>
				Status:<br>
				Assigned to:
				
			</ul>
		</div>
		<div class = "task-list" style ="display:inline-block; width: 23.33%; ">
			<h2> Started </h2>
			<ul class = task style = "height:120px;width:300px;border-style:solid;border-width:3px"> 
				<h2>Task name </h2>
				Description:<br>
				Status:<br>
				Assigned to:
			</ul>
		</div>
		<div class = "task-list" style ="display:inline-block; width: 23.33%;">
			<h2> Completed </h2>
			<ul class = task style = "height:120px;width:300px;border-style:solid;border-width:3px"> 
				<h2>Task name </h2>
				Description:<br>
				Status:<br>
				Assigned to:
			</ul>
		</div>
		
		<div style ="display:inline-block;height: 60px; border-style: solid; border-width: 1px; float:right; margin-right:70px;">
			<div style="display:inline-block;border-style: solid; border-width: 1px;">
				V
			</div>
			<div style="display:inline-block;border-style: solid; border-width: 1px;">
				My tasks
			</div>
			<div style="border-style: solid; border-width: 1px;">
				Team 1
			</div>
			<div style="border-style: solid; border-width: 1px;">
				Team 2
			</div>
		</div>
  </div>
