<mat-card>
	<mat-card class="heading-container">
			<h1 class="heading">Scrum Board</h1>
	</mat-card>

	<mat-card>
		<div class="row">
				<div class="col-lg-4" *ngIf="notStartedTasks">
					<h3>Not Started</h3>
					<table mat-table [dataSource]="notStartedTasks" class="mat-elevation-z0">
						<ng-container matColumnDef="card" class="card-container">
							<th mat-header-cell *matHeaderCellDef> Tasks </th>
							<td mat-cell *matCellDef="let element"> 
								<mat-card class="scrum-card">
									<mat-card-title>{{element.name}}</mat-card-title>
									<mat-card-subtitle>{{element.description}}</mat-card-subtitle>
	
								</mat-card>
							</td>
						</ng-container>
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
		
				<div class="col-lg-4" *ngIf="startedTasks">
					<h3>Started</h3>
					<table mat-table [dataSource]="startedTasks" class="mat-elevation-z0">
							<ng-container matColumnDef="card" class="card-container">
								<th mat-header-cell *matHeaderCellDef> Tasks </th>
								<td mat-cell *matCellDef="let element"> 
									<mat-card class="scrum-card">
										<mat-card-title>{{element.name}}</mat-card-title>
										<mat-card-subtitle>{{element.description}}</mat-card-subtitle>
		
									</mat-card>
								</td>
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
				</div>
		
				<div class="col-lg-4" *ngIf="completedTasks">
					<h3>Complete</h3>
					<table mat-table [dataSource]="completedTasks" class="mat-elevation-z0">
							<ng-container matColumnDef="card" class="card-container">
								<th mat-header-cell *matHeaderCellDef> Tasks </th>
								<td mat-cell *matCellDef="let element"> 
									<mat-card class="scrum-card">
										<mat-card-title>{{element.name}}</mat-card-title>
										<mat-card-subtitle>{{element.description}}</mat-card-subtitle>
		
									</mat-card>
								</td>
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
				</div>
			</div>
	</mat-card>
	
</mat-card>