<mat-card>
  <mat-card class="heading-container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="heading">Send New Message</h1>
      </div>
      <div class="col-md-4">
          <button mat-button id="cancel" (click)="onCancel()">Cancel</button>
        </div>
    </div>
  </mat-card>

  <mat-card-content>
    <form [formGroup]="newMessage" (ngSubmit)="onSubmit()">
      <!-- Field for Recipient of Message -->
        <mat-form-field>
          <input type="text" matInput placeholder="Username" aria-label="User" [formControl]="messageForm" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user.name">
              {{user.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      <!-- Field for Message Content -->
      <mat-form-field>
        <input matInput type="text" formControlName="message" placeholder="Message Body" required>
      </mat-form-field>
      <!-- Submit and cancel buttons -->
      <div class="button-row">
        <button mat-raised-button color="primary" [disabled]="!newMessage.valid" (click)="onSubmit">Send Message</button>
        <button mat-raised-button color="primary" (click)="onCancel()" type="button">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>